.row
  .col-lg-offset-3.col-lg-6
    .well
      = form_for :session, url: login_path, html: { class: 'form-horizontal' } do |f|
        fieldset
          legend Baget Admin
          .form-group
            = f.label :login, 'Логин:', class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field :login, required: true, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password, 'Пароль:', class: 'col-lg-2 control-label'
            .col-lg-10
              = f.password_field :password, required: true, class: 'form-control'
          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit 'Войти', class: 'btn btn-primary'
