$("#baget_code").val("");
$("#baget_name").val("");
$("#baget_retail_price").val("");
$("#baget_units").val("");
$("#bagets-table").prepend("<%= j render partial: 'baget_table_row', locals: { id: id, code: code, name: name, retail_price: retail_price, units: units, created_at: created_at, updated_at: updated_at } %>");
