.row
  .col-lg-6
    .well
      = form_for :baget, html: { class: 'form-horizontal' }, remote: true do |f|
        fieldset
          legend Новое поступление
          .form-group
            = f.label :code, 'Код:', class: 'col-lg-3 control-label'
            .col-lg-9
              = f.text_field :code, required: true, autofocus: true, class: 'form-control input-sm'
          .form-group
            = f.label :name, 'Наименование:', class: 'col-lg-3 control-label'
            .col-lg-9
              = f.text_field :name, required: true, autofocus: true, class: 'form-control input-sm'
          .form-group
            = f.label :retail_price, 'Цена:', class: 'col-lg-3 control-label'
            .col-lg-9
              = f.text_field :retail_price, required: true, autofocus: true, class: 'form-control input-sm'
          .form-group
            = f.label :units, 'Единица:', class: 'col-lg-3 control-label'
            .col-lg-9
              = f.text_field :units, required: true, autofocus: true, class: 'form-control input-sm'
          .form-group
            .col-lg-9.col-lg-offset-3
              = f.submit 'Создать', class: 'btn btn-default'
  .col-lg-6
    .page-header
      h1 Поступления
    table.table.table-striped.table-hover#bagets-table
      - if @bagets.any?
        thead
          tr
            th id
            th code
            th name
            th retail_price
            th units
            th Создан
            th Обновлён
        tbody
          - @bagets.each do |b|
            tr
              td = b.id
              td = b.code
              td = b.name
              td = b.retail_price
              td = b.units
              td = b.created_at.strftime('%d.%m.%Y %k:%M:%S')
              td = b.updated_at.strftime('%d.%m.%Y %k:%M:%S')
