.alert.alert-dismissable class="#{bootstrap_class_for(flash_type)}"
  button.close aria-hidden="true" data-dismiss="alert" type="button"  ×
  i.fa.pr10 class="#{fa_icon_class_for(flash_type)}"
  strong = alert_topic_for(flash_type)
  = " #{message}"
