tr
  td = id
  td = number
  td = client
  td = login
  td = created_at
  td = updated_at
  td = render 'shared/show_button', path: order_path(id)
  td = render 'shared/export_button', path: order_path(id, format: :xls)
