$("#order_client").val("");
$("#orders-table").prepend("<%= j render partial: 'order_table_row', locals: { id: id, number: number, client: client, login: login, created_at: created_at, updated_at: updated_at } %>");
