.row
  .col-lg-6
    .well
      = form_for :order, html: { class: 'form-horizontal' }, remote: true do |f|
        fieldset
          legend Новый заказ
          .form-group.col-md-12
            h4 Материалы для заказа
            /= select(:report_stat, :goals, @goals.map { |e| [e.fetch('name'), e.fetch('id')] },
                               { include_hidden: false },
                               { multiple: true, size: 5 })
            select multiple="multiple" name="order_bagets[bagets][]"
              - Baget.select(:id, :name).each do |baget|
                option value="#{baget.id}" = baget.name
          .form-group
            = f.label :client, 'Клиент:', class: 'control-label'
            = f.text_field :client, required: true, autofocus: true, class: 'form-control input-sm'
          .form-group
            = f.submit 'Создать', class: 'btn btn-success btn-block'
  .col-lg-6
    .page-header
      h1 Заказы
    table.table.table-striped.table-hover#orders-table
      - if @orders.any?
        thead
          tr
            th id
            th number
            th client
            th login
            th Создан
            th Обновлён
            th
        tbody
          - @orders.each do |o|
            = render 'order_table_row', id: o.id, number: o.number, client: o.client, login: o.user.login, created_at: o.created_at.strftime('%d.%m.%Y %k:%M:%S'), updated_at: o.updated_at.strftime('%d.%m.%Y %k:%M:%S')
