h1.col-md-6 = "ЗАКАЗ № #{@order.number}"
.col-md-6
  = link_to 'Экспорт в xls', order_path(@order, format: :xls), class: 'btn btn-default btn-sm light fw600 pull-right'
table.table.table-striped.table-hover#order-bagets-table
  thead
    tr
      th Артикул
      th Наименование
      th Усы
      th Примечание
      th Размер
      th Ед. изм.
      th Кол.
      th Расход
      th Цена
      th Сумма
  tbody
    - @order.bagets.each do |baget|
      tr
        td = baget.fetch('code')
        td = baget.fetch('name')
        td = baget.fetch('mustaches')
        td = baget.fetch('note')
        td = baget.fetch('size')
        td = baget.fetch('units')
        td = baget.fetch('quantity')
        td = baget.fetch('consumption')
        td = baget.fetch('retail_price')
        td = baget.fetch('retail_price') * baget.fetch('quantity') * baget.fetch('consumption')
