doctype html
html lang="ru"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="turbolinks-cache-control" content="no-preview"
    title Figaro - заказы
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body class="#{controller_name} #{action_name}"
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to 'Baget Admin', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li = link_to 'Заказы', orders_path
            li = link_to 'Поступления', bagets_path
          ul.nav.navbar-nav.navbar-right
            - if logged_in?
              li
                a = current_user.login
              li = link_to 'Выйти', logout_path, method: :delete, remote: true
    .container
      = render 'shared/flash_messages'
      = yield
